# godot
.godot/
*.import.tmp
**/__pycache__/

# extension build outputs
engine/build/
engine/build-web/
extensions/windows/
extensions/macos/
extensions/linux/
extensions/web/
export/
engine/Thirdparty/godot-cpp/__pycache__